*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

body{
    background-color: rgb(214, 214, 214);
}
.area {
    margin-top: 170px;
}
.underline {
    height: 2px;
    width: 100px;
    background-color: rgb(92, 91, 91);
    display: block;
    margin: 10px auto;
    transition: 2s;
}
.head-of-page:hover .underline {
    transform: scale(1.5,1);
}
a {
    text-decoration: none;
}
header {
    position: relative;
}
.div0 {
    width: 22px;
    height: 22px;
    display: inline-block;
    border: 1px solid black;
    border-radius: 50%;
    text-align: center;
    margin-left: -20px;
}
.img1{
    height: 125px;
    width: 250px;
    top: 0;
    left: 12.5%;
    position: absolute;
}
header ul {
    float: left;
    text-align: left;
    margin: 140px 80px;
    border: 2px solid black;
    background-color: grey;
    border-radius: 20%;
}

header li {
    list-style: none;
    display: inline-block;
    font-size: 30px;
}
header a {
    margin: 20px;
    padding: 10px;
    color: white;
    font-size: 30px;
}
header a:hover {
    border: 2px solid black;
    border-radius: 20px;
}
header i {
    font-size: 30px;
    padding: 10px;
}
.header-i1 {
    margin-left: 20px;
}
.header-div {
    width: 350px;
    height: 140px;
    border: 2px solid grey;
    background-color: white;
    column-count: 3;
    font-size: 18px;
    position: absolute;
    margin: 10px 20px;
    transform: scale(0);
    transition: transform 0.5s , visibility 0.5s;
    visibility: hidden;
}

.header-div dt {
    text-decoration: underline;
    cursor: pointer;
}
.header-div dd {
    cursor: pointer;
}
.header-div .l {
    margin-top: 20px;
}
.header-div dl {
    margin-left: 10px;
}
.header-parent:hover .header-div {
    transform: scale(1);
    visibility: visible;
}

.img2 {
    margin: -120px 130px;
    width: 1100px;
    height: 400px;
}
.title1{
    text-align: center;
}
.container1 {
    width: 80%;
    margin: 30px auto;
}
.page2-div1 , .page2-div2 , .page2-div3 , .page2-div4 {
    float: left;
}
.page2-div2 {
    margin-left: 20px;
    margin-right: 20px;
}
.page2-div3 {
    margin-right: 20px;
}
.container1 h3 {
    margin-top: 20px;
    color: grey;
    text-align: center;
}
.container1 h2 {
    margin-top: 10px;
    text-align: center;
}
.container1 i {
    color: brown;
    font-size: 30px;
    position: absolute;
    margin: -20px 225px;
    visibility: hidden;
    transform: scale(0);
    transition: transform 0.5s , visibility 0.5s;
}
.page2-div1:hover .page2-div1-i , .page2-div2:hover .page2-div2-i , .page2-div3:hover .page2-div3-i , .page2-div4:hover .page2-div4-i {
    visibility: visible;
    transform: scale(1);
}

.container2 {
    width: 80%;
    margin: 440px auto;
}

.page2-div5 {
    height: 300px;
    width: 520px;
    background-color: rgb(107, 107, 107);
    float: left;
}

.page2-div5 i {
    display: inline-block;
    font-size: 30px ;
    color: rgb(37, 11, 61);
    margin: 10px 20px;
}
.page2-div5 h2 {
    display: inline-block;
}
.page2-div5 h4 {
    margin-left: 75px;
}
.page2-div5 p {
    width: 90%;
    margin: 20px auto;
    letter-spacing: 2px;
    word-spacing: 4px;
    font-size: 20px;
}
.r {
    margin-left: 350px;
}
.line {
    margin-top: 30px;
    height: 2px;
    width: 50px;
    background-color: black;
    display: inline-block;
}

.page2-div6 , .page2-div7 {
    float: left;
    transition: 1s;
}
.page2-div6 {
    margin-left: 20px;
    margin-right: 20px
}
.page2-div6 img , .page2-div7 img {
    position: relative;
}
.page2-div6-1 , .page2-div7-1 {
    position: absolute;
    margin: -280px 50px;
    color: rgb(0, 0, 117);
    background-color: rgb(206, 206, 206);
    width: 150px;
    text-align: center;
}
.page2-div6:hover , .page2-div7:hover {
    transform: scale(1.1);
}
.page2-parent {
    margin: 780px auto;
    display:flex;
    width: 80%;
    text-align: center;
}
.delivery {
    flex: 1;
    border-right: 2px solid rgb(1, 1, 73);
}
.delivery:last-child {
    border:0;
}
.delivery-1 h3 {
    font-size: 20px;
}
.delivery-1 span {
    color: gray;
    font-size: 18px;
}

.i {
    background-image: url(../images/service-icon.png);
    height: 60px;
    background-repeat: no-repeat;
}
.i1 {
    background-position: center 5px;
    transition: all .5s;
    color: brown;
}
.delivery:hover .i1 {
    background-position: center -85px;
}
.i2 {
    background-position: center -180px;
    transition: all .5s;
    color: brown;
}
.delivery:hover .i2 {
    background-position: center -275px;
}
.i3 {
    background-position: center -365px;
    transition: all .5s;
    color: brown;
}
.delivery:hover .i3 {
    background-position: center -460px;
}
.i4{
background-position: center -550px;
transition: all .5s;
color: brown;
 }
 .delivery:hover .i4{
    background-position: center -640px;
}
.i5{
background-position: center -735px;
transition: all .5s;
color: brown;
}
.delivery:hover .i5{
    background-position: center -825px;
}
.horizontal-line {
    height: 1px;
    width: 80%;
    background-color: rgb(92, 91, 91);
    display: block;
    margin: -740px auto;
}
.page3 {
    position: absolute;
    margin: 800px 145px;
    width: 80%;
    text-align: center;
}
.page3-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    margin: 0px 320px;
}
.page3-list li {
    padding: 30px;
    font-size: 20px;
}
.page3-container {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
}
.page3-parent {
    margin-left: -220px;
    height: 500px;
    position: relative;
}
.page3 .k {
    margin-left: 50px;
    margin-right: 270px;
}
.page3-div {
    width: 400px;
    height: 450px;
    background-color: rgb(160, 160, 160);
    position: absolute;
}
.page3-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.page3-overlay {
    position: absolute;
    top: 16.6%;
    left: 12.8%;
    transform:scalex(0);
    opacity: 0.8;
    transition: transform 0.2s;
}
.page3-overlay-icons {
    position: absolute;
    z-index: 2;
    margin: -250px 75px;
    font-size: 35px;
    color: rgb(107, 3, 3);
}
.page3-parent:hover .page3-overlay {
    transform: scalex(1);
}
.page3-div-1 {
    margin: 470px 140px;
    height: 70px;
    width: 120px;
}
.page3-div-1 i {
    color: rgb(163, 163, 5);
}
.page3-div-1 .d {
    color: black;
}
.page3-div-1 p {
    margin-top: 5px;
}
.h {
    margin-top: 50px;
}